{% extends 'base.html' %}
{% block content %}

  <h2>{{ movie.title }}</h2>
  <h3>Release date: {{ movie.released_at }}</h3>
  <h3>IMDB: {{ movie.imdb_url }}</h3>

  {% if user_rating %}
    <span class="status" hidden>rated</span>
    <p class="bluebold rated" hidden>Your rating: {{ user_rating.score }}</p>

  {% else %}
    <span class="status" hidden>not_rated</span>
    <p class="bluebold rated" id="change" hidden></p>

  {% endif %}


  <p class="bluebold rated" hidden>Eye rate this: {{ eye_rating }}... so your opinion is stupid.</p>

  <p class="bluebold not_rated" hidden>You have not rated this movie.</p>

  <p class="bluebold not_rated" hidden>You'll probably rate this a: {{ prediction }}</p>


  <form id="rating-form" action="/#" method="POST">
    Enter your score: <input type="number" name="new_score" id="score">
    <input type="hidden" name="movie_id" value={{ movie.movie_id }}>
    <br>
    <input type="submit" value="Submit">
  </form> <br>


  <ul>
    {% for rating in ratings %}
      {% if not user_rating or rating.user_id != user_rating.user_id %}
        <li>User {{ rating.user_id }} rated: {{ rating.score }}</li>
      {% endif %}
    {% endfor %}
  </ul>

    <script>

    "use strict";

    $(document).ready(function () {

      if ($(".status").html() === "rated") {
        $(".rated").attr("hidden", false);
      } else {
        $(".not_rated").attr("hidden", false);
      }

      function alertUser(results) {
        alert(results);
        $(".not_rated").attr("hidden", true);
        $(".rated").attr("hidden", false);
        $("#change").html("Your rating: " + $("#score").val());
        $(".status").html("rated");
        $('#rating-form')[0].reset();
      }
    
      function updateRating(evt) {
        evt.preventDefault();

        if ($("#score").val() > 5 || $("#score").val() < 0) {
          alert("Please enter a rating between 0-5");
          $('#rating-form')[0].reset();
        } else {
          var formInputs = $("#rating-form").serialize();

          $.post('/new-score', formInputs, alertUser);
        }
      }

      $("#rating-form").submit(updateRating);
    });

  </script>



{% endblock %}

